<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Index</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Index</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/tasks"
                >Tasks</a
              >
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/task">Tasks</a>
              </li> -->
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="text-center">Sección principal</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblueshelltech.com%2Fmedia%2F2021%2F05%2Fpython-django-1024x576.jpg&f=1&nofb=1&ipt=02ad75a2726ed5ddacd01b0ef518f112d7a4b483361e34fafbeef18262d1db30&ipo=images" class="img-fluid" alt="Django for everyone">
        </div>
        <div class="col-md-6">
          <h2 class="text-center">Django</h2>
          <p class="font-monospace">Django es un framework web de alto nivel que permite el desarrollo rápido de sitios web seguros y mantenibles. Desarrollado por programadores experimentados, Django se encarga de gran parte de las complicaciones del desarrollo web, por lo que puedes concentrarte en escribir tu aplicación sin necesidad de reinventar la rueda.</p>
          <p class="font-monospace">
            Obtenido de: <a href="https://developer.mozilla.org/es/docs/Learn/Server-side/Django/Introduction" target="_blank">https://developer.mozilla.org/es/docs/Learn/Server-side/Django/Introduction</a>
          </p>
          <a href="https://www.djangoproject.com/" target="_blank" class="btn btn-primary">Visitar Django</a>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
